#container {
    max-width: 960px;
}

h2 {
    color: red;
}

a + a {
    margin-left: 20px;
}

.goback {
    text-align: right;
    margin-right: 30px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:fixed;
    text-align: center;
}

