#container {
    max-width: 960px;
}

h2 {
    color: red;
}
#searchitem {
    margin-top: 25%;
    text-align: center;
}

a + a {
    margin-left: 20px;
}

.goback {
    text-align: right;
    margin-right: 30px;
}

